<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<form action="/account/register" method="post">
  <fieldset id="inputContainer">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" />
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" />

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" />
    <label for="pword">Password:</label>
    <input type="text" id="pword" name="pword" />
    <p>
      All fields required. Password must be 12 characters long, with at least
      one capital, number, and special letter.
    </p>
    <input type="submit" value="Login" />
    <h1>No account? <a href="#">Lose!</a></h1>
  </fieldset>
</form>
