<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="deloHero">
  <img id="deloImg" src="../images/vehicles/delorean.jpg" />
  <div id="deloBlurb">
    <h2>DMC DeLorean</h2>
    <h3>3 Cup holders</h3>
    <h3>Superman doors</h3>
    <h3>Fuzzy dice!</h3>
    <div id="deloAd"><p>Own Today</p></div>
  </div>
</div>
<div id="deloExtra">
  <div id="deloUpgrd">
    <h2>DeLorean Upgrades</h2>
    <div id="deloLinks">
      <id
        ><img src="../images/upgrades/flux-cap.png" /><a href="#">
          Flux Capacitor</a
        ></id
      ><id
        ><img src="../images/upgrades/flame.jpg" /><a href="#">
          Flame Decals</a
        ></id
      ><id
        ><img src="../images/upgrades/bumper_sticker.jpg" /><a href="#">
          Bumper Stickers</a
        ></id
      ><id
        ><img src="../images/upgrades/hub-cap.jpg" /><a href="#">
          Hub Caps</a
        ></id
      >
    </div>
  </div>
  <div id="deloRview">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly'" (5/5)</li>
      <li>"The most futuristic ride of our day. (5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
</div>
