/******* Change Box Model ***************/

@media only screen and (min-width: 500px) {
  html {
    background-image: url("../images/site/checkerboard.jpg");
  }
  body {
    background-color: aqua;
    margin: 20px;
    border: 6px solid aqua;
    border-radius: 6px;
  }
  #wrapper {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 3px;
  }
  #deloExtra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#deloBlurb {
  z-index: 3;
}

#deloAd {
  background-color: aqua;
  width: 100px;
}

#deloLinks {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#deloLinks id {
  background-color: aqua;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2px 4px;
  margin: 2px 20px;
}

#deloLinks id img {
  max-width: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#navHead {
  padding: 2px 20px;
  margin: 20px 10px;
  color: #ffffff;
  background-color: rgb(68, 68, 68);
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  padding-left: 20px;
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */
