<!-- header classif -->

<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<form action="/inv/add-classification" method="post">
  <fieldset id="inputContainer">
    <label for="classification_name">Make:</label>
    <input
      type="text"
      pattern="[A-Za-z]+"
      id="classification_name"
      name="classification_name"
    />
    <p>
      The new classification name cannot contain a space or special character of
      any kind.
    </p>
    <input type="submit" value="Register Into Database" />
  </fieldset>
</form>
